[submodule ".janus/vim-powerline"]
	path = .janus/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".janus/vimux"]
	path = .janus/vimux
	url = git://github.com/benmills/vimux.git
[submodule ".janus/html5.vim"]
	path = .janus/html5.vim
	url = git@github.com:othree/html5.vim.git
[submodule ".janus/vim-yaml"]
	path = .janus/vim-yaml
	url = git@github.com:avakhov/vim-yaml.git
[submodule ".janus/vim-solarized-powerline"]
	path = .janus/vim-solarized-powerline
	url = https://github.com/stephenmckinney/vim-solarized-powerline.git
