set relativenumber number
set surround
set easymotion

" Fix back/forward behavior
nmap <C-o> <action>(Back)
nmap <C-i> <action>(Forward)

" Plugins
Plug 'preservim/nerdtree'
nmap <leader>n :NERDTreeToggle<CR>

" RubyMine actions
nmap <leader>R <action>(RunClass)
nmap <leader>r <action>(Rerun)
nmap <leader>h <action>(PreviousTab)
nmap <leader>f <action>(FindInPath)
nmap <leader>d <action>(Git.CompareWithBranch)
