theme "tokyo-night"
default_layout "compact"
pane_frames false

keybinds {
  unbind "Ctrl b" // Conflict with VIM

  normal {
    unbind "Ctrl o" // Conflict with VIM
    unbind "Ctrl h" // Don't need "move" mode, I think
  }

  shared_except "locked" {
    unbind "Ctrl q"
  }

  shared_except "session" "locked" {
    bind "Ctrl z" { SwitchToMode "Session"; }
  }
}
