theme "tokyo-night"
pane_frames false
default_layout "top-bar"

keybinds {
  unbind "Ctrl b" // Conflict with VIM

  normal {
    unbind "Ctrl o" // Conflict with VIM
    unbind "Ctrl h" // Don't need "move" mode, I think

    // See alacritty config
    bind "" { GoToTab 1; SwitchToMode "Normal"; }
    bind "" { GoToTab 2; SwitchToMode "Normal"; }
    bind "" { GoToTab 3; SwitchToMode "Normal"; }
    bind "" { GoToTab 4; SwitchToMode "Normal"; }
    bind "" { GoToTab 5; SwitchToMode "Normal"; }
    bind "" { GoToTab 6; SwitchToMode "Normal"; }
    bind "" { GoToTab 7; SwitchToMode "Normal"; }
    bind "" { GoToTab 8; SwitchToMode "Normal"; }
  }

  shared_except "locked" {
    unbind "Ctrl q"
  }

  shared_except "session" "locked" {
    bind "Ctrl a" { SwitchToMode "Session"; }
  }
}
