theme "tokyo-night"
default_layout "compact"

keybinds {
  unbind "Ctrl b" // Conflict with VIM

  normal {
    unbind "Ctrl o" // Conflict with VIM
  }

  shared_except "locked" {
    unbind "Ctrl q"
  }
}
